@CHARSET "UTF-8";
#blanket {
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
}

.popup_default_div{
	display:none;
	position:absolute;
	background-color:#eeeeee;width:580px;z-index:9002;
}

.popup_submit_cancel_default{
	float:right;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
	padding:5px;
}

.div_for_popup{
	padding:20px;
}

.suggestion-text{
	text-align:center;
}


.popup_emails_default input{
	width:368px;	
	background-color:#FFFFE0;
	/* font-size:24px; */
}
